torch>=2.1.0
pytorch-lightning>=2.1.0
numpy<2.0
torch-geometric
torch-scatter
torchmetrics
streamlit
dash
ase
tqdm
wandb
click
fire
transformers
pydantic
einops
jupyterlab
pymatgen
git+https://github.com/WMD-group/SMACT.git